$clr--app-bg: #f6f7f6;
$clr--overlay-bg:rgba(0, 0, 0, 0.5);

$clr--primary:#0073ee;
$clr--primary--hover:#0058b6;

$clr--secondary:white;

$clr--danger:#e02c3e;
$clr--danger--hover:#c42132;

$clr--dark-grey: #333;
$clr--grey:#666;

$clr--shadow: rgba(0, 0, 0, 0.1);



$transition-speed--main:250ms;



$breakpoint--mobile:767px;
$breakpoint--tablet:1279px;